@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.no-link-decoration {
  text-decoration: none;
  color: inherit;
}

.images {
  width: 100%;
  height: auto;
}

.norm-wt {
  font-weight: normal;
}

.less-bottom-margin40 {
  margin-bottom:-40px;
}

.less-bottom-margin15 {
  margin-bottom:-15px;
}

.button-custom {
  min-width: auto;
  line-height: 0px;
}

.settings-icon {
  min-height: 0px;
  margin: 0;
  line-height: 0px;
}

.slight-red {
  color: #FF6961; 
}

/* LOGIN */
#login {
	height: auto;
}

/* END LOGIN */
/* END MESSAGES */

// toast position center possibility
/* 
  Reference:
  https://github.com/angular/material/issues/1773
*/
md-toast.md-center {
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
