<style>
body{
	color:#68bce9;
}

#mainMenu{
  font:white;
  position: absolute;
  top:3vh;
  right:3vw;
  font-family:Tahoma, Geneva, sans-serif;
  color:white;
  font-size:20px;
  padding:5px;
  border:solid;
  border-color:white;
  border-radius: 10px;
}
#title{
  font:white;
  position: absolute;
  top:10%;
  left:50%;   
  transform: translate(-50%, -10%);
  font-family:Tahoma, Geneva, sans-serif;
  color:white;
  font-size:50px;
}

.list {
	background:white; 
    opacity:0.95; 
}

.listbox{
	width:70vw;
	position: absolute;
	top:30vh;
	left:50%;
	transform: translate(-50%, 0);

}


</style>


<img class="small-12 large-5 columns beep" src="images/Register_background.jpg"
   style="height:100%; width: 100vw; position: relative;z-index: 0;">
<img class="small-12 large-5 columns beep" src="images/Register_background.jpg"
   style="height:100%; width: 100vw; position: relative;z-index: 0;">
<img class="small-12 large-5 columns beep" src="images/Register_background.jpg"
   style="height:100%; width: 100vw; position: relative;z-index: 0;">      
  <img src="images/logo_white.png"
   style=" position:absolute; top:2vh; left:2vw; width: 6vw; height: 5vw;">


<a href="#features" style="font:white;">
<div class="row " id="mainMenu">
	Main Menu	
</div>
</a>
<div class="row" id="title">My Team</div>

<!--
<pre>
{{team.llamas|json:4}}
</pre>
-->
<div class="row listbackground">
<div class=" row listbox"> 
	<ul id="happy">
		<li ng-repeat="llama in team.llamas" >
		 	<div class="row list">
		 		<div class="large-5 columns"> 
					<button ng-click="detail(llama._id)"><a href="#/userdetail"><h3>{{llama.email}}</h3></a></button>
				</div>
			</div>
 	
		</li>
	</ul>
</div>
</div>

