<pre>
{{messages.user|json:4}}
</pre>

<md-list class="messages-list" flex>
  <md-subheader class="md-no-sticky">Messages</md-subheader>
  <md-list-item class="md-2-line" ng-repeat="msg in messages.messages" ng-click="null">
    <!-- <img ng-src="" class="md-avatar" alt="{{item.who}}" /> -->
	  <div class="md-list-item-text" layout="column">
	    <small>{{ msg.email }}</small>
	    <h3>{{ msg.content }}</h3>
	  </div>
  </md-list-item>
</md-list>
<form ng-submit="messages.post()" layout="row" layout-padding>
  <input class="input" type="text" placeholder="..." ng-model="messages.input">
</form>