
<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <h3>
      <md-button ng-click="settings.logOut()" aria-label="Log Out">
        Log Out
      </md-button>
      <a ng-href="#!/">
        <md-button aria-label="Verify Events">
          Verify
        </md-button>
      </a>
    </h3>
  </div>
</md-toolbar>

<div layout="column" layout-margin layout-padding>
  <form name="settingsForm" ng-submit="settings.setUrl(); settings.showUrlToast()">
    <md-input-container class="md-block">
      <label>Base URL</label>
      <input ng-model="settings.url" placeholder="e.g. http://172.22.153.235:3000/api or http://162.243.78.205:3000/api">
    </md-input-container>

    <md-button type="submit" class="md-raised md-primary">Set URL</md-button>
  </form>
</div>

