<head>
        <meta charset="utf-8">
        
        <style>
            #login {
            	height: auto;
            }
            .beep {
    			
    		
    			max-width: 100%;
    			min-width: 100%;
			}




        </style>
    </head>



<div id="login" class="row">

 	<img class="small-12 large-5 columns beep" src="images/loginlog.jpg">
 
</div>






  <div  class="row">
    <div layout="row" layout-align="center none">
      <form name="loginForm" ng-submit="login.authenticate()" layout="column" layout-padding>
      	<div layout="row" layout-align="space-between center" layout-padding>
          <label>Email</label>
      	  <input type="text" ng-model="login.email" placeholder="user@email.com" />
      	</div>
      	<div layout="row" layout-align="space-between center" layout-padding>
      	  <label>Password</label>
      	  <input type="password" ng-model="login.password" placeholder="********" />
      	</div>
      	<div>
          <md-button type="submit" class="md-raised md-primary">Submit</md-button>
      	</div>
      	<a ng-href="#/sign-up">Create an account</a>
      </form>
    </div>
  </div>
