<div class="row" id="login_box">
  <div layout="row" layout-align="center none">
    <form name="login.loginForm" ng-submit="login.attemptLogin()" layout="column" style="opacity: 1;">
    	<div layout="row" layout-align="space-between center">
        <!-- <label>Email</label> -->
        <md-input-container class="md-icon-float md-block" >

        <md-icon class="material-icons" aria-hidden="true">account_circle</md-icon>
          <input style="padding-right: 70px" required type="text" ng-model="login.userAttempt.email" placeholder="user@email.com"
          name="email" />
        </md-input-container>
      </div>
      <div layout="row" layout-align="space-between center">
       <!-- <label>Password</label> -->
       <md-input-container class="md-icon-float md-block" >
       <md-icon class="material-icons" aria-hidden="true">vpn_key</md-icon>
        <input style="padding-right: 70px" required type="password" ng-model="login.userAttempt.password" placeholder="********"
        name="password" />
      </md-input-container>
    </div>
    <div layout="row" layout-align="space-between center">
      <md-input-container class="">
        <md-tooltip ng-if="login.loginForm.$invalid" md-direction="top">Email and password are required!</md-tooltip>
        <md-button type="submit" class="md-raised md-primary"
        ng-disabled="login.loginForm.$invalid">Login</md-button>
      </md-input-container>
      <md-input-container class="">
        <md-tooltip md-direction="top">Don't have an account?</md-tooltip>
        <md-button class="md-raised md-accent" ng-href="#!/sign-up">Register</md-button>
      </md-input-container>
    </div>
  </form>
</div>
</div>
