<md-content>
  <div layout-fill layout="column" layout-align="center none">
    <div layout="row" layout-align="center none">
      <form name="signUpForm" ng-submit="signUp.authenticate()" layout="column" layout-padding>
      	<div layout="row" layout-align="space-between center" layout-padding>
          <label>Email</label>
      	  <input type="text" ng-model="signUp.email" placeholder="user@email.com" />
      	</div>
      	<div layout="row" layout-align="space-between center" layout-padding>
      	  <label>Password</label>
      	  <input type="password" ng-model="signUp.password" placeholder="********" />
      	</div>
        <div layout="row" layout-align="space-between center" layout-padding>
          <label>Confirm Password</label>
          <input type="password" ng-model="signUp.confirmPassword" placeholder="********" />
        </div>
      	<div>
          <md-button type="submit" class="md-raised md-primary">Submit</md-button>
      	</div>
      	<a ng-href="#/sign-up">Create an account</a>
      </form>
    </div>
  </div>
</md-content>