<div class="box" style="z-index: 2;">

<md-content>
  <div layout-fill layout="column" layout-align="center none">
    <div layout="row" layout-align="center none">
      <form name="signUp.signUpForm" ng-submit="signUp.attemptSignUp()" layout="column">
        <div layout="row" layout-align="space-between center">
          <md-input-container class="">
            <label>Email</label>
            <!-- <input required name="email" ng-model="signUp.newUser.email" placeholder="user@email.com" ng-pattern="/^.+@.+\..+$/"> -->
            <input required name="email" ng-model="signUp.newUser.email" placeholder="user@email.com">
            <div ng-messages="signUp.signUpForm.email.$error">
              <ng-message when="required">Email is required.</ng-message>
              <!-- <div ng-message="pattern">Email must look like an email (abc @ abc . com).</div> -->
            </div>
          </md-input-container>
        </div>
        <div layout="row" layout-align="space-between center">
          <md-input-container class="">
            <label>Password</label>
            <input required name="password" type="password" ng-model="signUp.newUser.password" placeholder="********">
            <div ng-messages="signUp.signUpForm.password.$error">
              <ng-message when="required">Password is required.</ng-message>
            </div>
          </md-input-container>
        </div>
        <div layout="row" name="confirmPassword" layout-align="space-between center">
          <md-input-container class="">
            <label>Confirm Password</label>
            <input required name="confirmPassword" type="password" ng-model="signUp.newUser.confirmPassword" placeholder="********">
            <div ng-messages="signUp.signUpForm.confirmPassword.$error">
              <ng-message when="required">Please confirm password.</ng-message>
            </div>
          </md-input-container>
        </div>

        <span ng-if="signUp.newUser.password !== signUp.newUser.confirmPassword">
          <md-tooltip md-direction="top">Password and confirmation do not match!</md-tooltip>
          <md-icon class="material-icons md-warn">warning</md-icon>
        </span>

        <label md-colors="{color:'warn'}" ng-if="signUp.duplicateEmails[signUp.newUser.email]">
          Email already exists!
        </label>

        <div>
          <md-input-container>
            <md-tooltip ng-if="signUp.signUpForm.$invalid" md-direction="right">Email and password are required!</md-tooltip>
            <md-button type="submit" class="md-raised md-primary"
                     ng-disabled="signUp.signUpForm.$invalid || (signUp.newUser.password !== signUp.newUser.confirmPassword)">
                     Register
            </md-button>
          </md-input-container>
        </div>
      </form>
    </div>
  </div>
</md-content>
</div>
